
.trainerHeader {
    position: relative;
    width: 1212px;
    height: 56px;
    left: 181px;
    gap: 754px;
    margin-top: 0px;
  
    .title {
      font-size: 30px;
      line-height: 39.48px;
      color: #232931;
      font-family: $font;
      font-weight: 700 !important;
    }
}